.img-cover {
    object-fit: cover;
}

.login-box-custom {
    width: 80%;
}

.logo {
    width: 160px;
}

.custom-input {
    background: #a67c52 !important;
    border: none !important;
    border-radius: 25px !important;
    color: white !important;
}

.custom-input::placeholder {
    color: white;
    opacity: 0.8;
}

.input-icon {
    background: transparent !important;
    border: none !important;
    color: white;
}

.btn-custom {
    background: #a67c52;
    border-radius: 25px;
    color: white;
}

.btn-custom:hover {
    background: #caa472;
}

.bg-black {
    background-color: #000 !important;
}

/* RESPONSIVO */

@media (max-width: 768px) {

    .row {
        height: auto !important;
    }

    .img-cover {
        height: 30vh !important;
    }

    .login-box-custom {
        width: 90%;
        padding: 30px 0;
    }

    .logo {
        width: 110px;
    }
}