* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #d9d9d9;
    height: 100vh;
}

/* TOPO (agora é uma div) */
.topo {
    background: #4b1d87;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    color: white;
}

/* TEXTO */
.topo span {
    font-size: 18px;
}

/* FORM */
.topo form {
    margin: 0;
}

/* BOTÃO */
.topo button {
    background: #e6e6e6;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.topo button:hover {
    background: #ccc;
}

/* CONTEÚDO */
.conteudo {
    height: calc(100vh - 80px);
}

/* CANTOS */
.canto {
    position: fixed;
    width: 120px;
    height: 120px;
    background: #4b1d87;
}

.esquerdo {
    bottom: 0;
    left: 0;
}

.direito {
    bottom: 0;
    right: 0;
}